<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <!-- Tabel Header -->
  <table cellpadding="5">
    <tbody>
      <tr>
        <td valign="center"><img src="C:\xampp\htdocs\beautycare\assets\img\logo_name2.png" width="125px" alt=""></td>
        <td>
          <h4>Nastya Beauty Care</h4>
          Jl. Raya Syeh Quro, RT.002/RW.18, Karawang Wetan, Kec. Karawang Timur <br>
          Kabupaten Karawang, Jawa Barat 41314 <br>
          Email : <a href="">contoh@gmail.com</a> | telp : (0267) 1234567
        </td>
        <td valign="top">
          <h3 style="margin-bottom: 13px">KWITANSI <br>
            <i>RECEIPT</i>
          </h3>
          No. :
          <hr style="margin: 0 0;">
          0086/NBC/06/2021
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <!-- Tabel Penerima -->
  <table cellspacing="5">
    <tbody>
      <tr>
        <td>
          Sudah Terima Dari <br>
          <i>Received From</i>
        </td>
        <td valign="top">:</td>
        <td valign="top">Bpk. Alex</td>
      </tr>
      <tr>
        <td>
          Banyak Uang<br>
          <i>Amount Received</i>
        </td>
        <td valign="top">:</td>
        <td valign="top">DUA RATUS RIBU RUPIAH</td>
      </tr>
      <tr>
        <td>
          Untuk Pembayaran<br>
          <i>In Payment Of</i>
        </td>
        <td valign="top">:</td>
        <td valign="top">Pembelian Produk/Pelayanan NBC, tanggal 13/03/2021</td>
      </tr>
    </tbody>
  </table>

  <!-- Tabel Transaksi -->
  <table width="100%">
    <thead>
      <tr>
        <td align="center"><b>No</b></td>
        <td align="center"><b>Nama Produk/Pelayanan</b></td>
        <td align="center"><b>Harga</b></td>
        <td align="center"><b>Qty</b></td>
        <td align="center"><b>Total Harga</b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Produk A</td>
        <td>Rp. 100.000</td>
        <td>2</td>
        <td>Rp. 200.000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Pelayanan B</td>
        <td>Rp. 300.000</td>
        <td>1</td>
        <td>Rp. 300.000</td>
      </tr>
    </tbody>
  </table>
</body>

</html>